{% macro color_section(name, class_name) -%}
  <tr class="section">
    <td colspan="2" class="section-label">
      [<span class="expand-marker">+</span>] {{ name }}</td>
    <td><input type="checkbox"
               id="{{ class_name }}-section-is-set" checked></td>
  </tr>
  <tr>
    <td>Default</td>
    <td><input type="color"    id="{{ class_name }}-color"></td>
    <td><input type="checkbox" id="{{ class_name }}-is-set" checked></td>
  </tr>
{%- endmacro %}

{% macro color_option(name) -%}
  <tr class="option" id="{{ name | lower }}-option">
    <td>{{ name }}</td>
    <td><input type="color"    id="{{ name | lower }}-color"></td>
    <td><input type="checkbox" id="{{ name | lower }}-is-set"></td>
  </tr>
{%- endmacro %}

<form class="color-config">
  <table border="1">
    <tr>
      <td>Default</td>
      <td colspan="3"><input type="color" id="default-color"></td>
    </tr>
    <tr>
      <td>Background</td>
      <td colspan="3"><input type="color" id="background-color"></td>
    </tr>
    <tr class="option" id="name-option">
      <td>Names</td>
      <td><input type="color" id="name-color"></td>
      <td><input type="checkbox" id="name-is-set" checked></td>
    </tr>
    <tr class="option" id="comment-option">
      <td>Comments</td>
      <td><input type="color" id="comment-color"></td>
      <td><input type="checkbox" id="comment-is-set" checked></td>
    </tr>

    {{ color_section("Keywords", "keyword") }}
    {{ color_option("def") }}
    {{ color_option("class") }}
    {{ color_option("return") }}
    {{ color_option("pass") }}

    {{ color_section("Modules", "module") }}
    {{ color_option("import") }}
    {{ color_option("from") }}
    {{ color_option("as") }}

    {{ color_section("Loops", "loop") }}
    {{ color_option("for") }}
    {{ color_option("in") }}
    {{ color_option("while") }}

    {{ color_section("Conditionals", "conditional") }}
    {{ color_option("if") }}
    {{ color_option("elif") }}
    {{ color_option("else") }}

    {{ color_section("Boolean Operators", "bool-op") }}
    {{ color_option("and") }}
    {{ color_option("or") }}

    {{ color_section("Literals", "literal") }}
    {{ color_option("Number") }}
    {{ color_option("String") }}

    {{ color_section("Constants", "constant") }}
    {{ color_option("True") }}
    {{ color_option("False") }}
    {{ color_option("None") }}
  </table>

  <input type="button" value="Save"   id="saveColors">
  <input type="button" value="Update" id="updateColors">
</form>
