<!DOCTYPE html>
<html>
  <head>
    <title>Python 3 Source Formatter</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="{{ url_for('static', filename='color-config.js') }}"></script>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='source.css') }}">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1>Python 3 Source Formatter</h1>
    {% block body %}{% endblock %}
  </body>
</html>
