div.python-source {
    font-family: courier;
    font-size: 16px;
    border: 1px solid black;
    padding: 10px;
}

div.python-line + div.empty-line {
    margin-top: 16px;
}

span.expand-marker {
    font-family: courier;
}
