{% macro color_option(name) -%}
  <tr>
    <td>{{ name }}</td>
    <td><input type="checkbox" id="{{ name | lower}}-is-set" checked></td>
    <td><input type="color" id="{{ name | lower }}-color"></td>
  </tr>
{%- endmacro %}

<form class="color-config">
  <table border="1">
    {{ color_option("Keyword") }}
    {{ color_option("class") }}
    {{ color_option("def") }}
    {{ color_option("import") }}
    {{ color_option("for") }}
    {{ color_option("while") }}
    {{ color_option("if") }}
    {{ color_option("else") }}
    {{ color_option("return") }}
    {{ color_option("pass") }}
    {{ color_option("Name") }}
    {{ color_option("Constant") }}
    {{ color_option("True") }}
    {{ color_option("False") }}
    {{ color_option("and") }}
    {{ color_option("or") }}
    {{ color_option("None") }}
    {{ color_option("Number") }}
    {{ color_option("String") }}
  </table>
  <input type="button" value="Update" id="updateColors">
</form>
