<form class="color-config">
  <table border="1">
    <tr>
      <td>Keyword</td>
      <td><input type="color" id="keyword-color"></td>
    </tr>
    <tr>
      <td>def</td>
      <td><input type="color" id="def-color"></td>
    <tr>
      <td>import/from</td>
      <td><input type="color" id="import-color"></td>
    </tr>
    <tr>
      <td>return</td>
      <td><input type="color" id="return-color"></td>
    </tr>
    <tr>
      <td>Decorator</td>
      <td><input type="color" id="decorator-color"></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><input type="color" id="name-color"></td>
    </tr>
    <tr>
      <td>Number</td>
      <td><input type="color" id="number-color"></td>
    </tr>
    <tr>
      <td>String</td>
      <td><input type="color" id="string-color"></td>
    </tr>
  </table>
  <input type="button" value="Update" id="updateColors">
</form>
