{% extends "layout.html" %}

{% macro print_alias(alias) %}
  {%- if alias.asname -%}
    <span class="python-name">{{- alias.name -}}</span>
    <span class="python-keyword python-as">as</span>
    <span class="python-name">{{- alias.asname -}}</span>
  {%- else -%}
    <span class="python-name">{{- alias.name -}}</span>
  {%- endif -%}
{% endmacro %}

{% macro print_import(node) %}
  <span class="python-keyword python-import">import</span>
  {%- for alias in node.names %}
    {{ print_alias(alias) }}
    {%- if not loop.last %}, {% endif %}
  {% endfor %}
{% endmacro %}

{% macro print_import_from(node) %}
  <span class="python-keyword python-import">from</span>
  <span class="python-name">{{ node.module }}</span>
  <span class="python-keyword python-import">import</span>
  {% for alias in node.names %}
    {{ print_alias(alias) }}
    {%- if not loop.last %}, {% endif %}
  {% endfor %}
{% endmacro %}

{% macro print_function_def(node, indent) %}
  {% for decorator in node.decorator_list %}
    {{ print_decorator(decorator) }}
  {% endfor %}
  <span class="python-keyword python-def">def</span>
  <span class="python-name">{{ node.name }}</span>
  {%- for arg in node.args.args %}
    {% if loop.first %}({% endif -%}
    <span class="python-name">{{ arg.arg }}</span>
    {%- if loop.last %}){% else %}, {% endif %}
  {% endfor -%}
  :
  {{- print_block(node.body, indent + 1) -}}
{% endmacro %}

{% macro print_binop(node) %}
  {{ print_form(node.left) }}
  {{ print_op(node.op) }}
  {{ print_form(node.right) }}
{% endmacro %}

{% macro print_form(node) %}
  {% if node.node_type == 'Expr' %}
    {{ print_form(node.value) }}
  {% elif node.node_type == 'Num' %}
    {{ node.n }}
  {% elif node.node_type == 'Str' %}
    '{{ node.s }}'
  {% elif node.node_type == 'Name' %}
    {{ node.id }}
  {% elif node.node_type == 'BinOp' %}
    {{ print_binop(node) }}
  {% elif node.node_type == 'Return' %}
    <span class="python-return">return</span>
    {% if node.value %}{{ print_form(node.value) }}{% endif %}
  {% else %}
    ???{{ node.node_type }}
  {% endif %}
{% endmacro %}

{% macro print_op(node) %}
  {%- if node.node_type == 'Add' %}
    +
  {% elif node.node_type == 'Mult' %}
    *
  {% endif %}
{% endmacro %}

{% macro print_block(block, indent) %}
  {%- for node in block -%}
    <div class="python-line">
      {{- print_offset(indent) -}}
      {%- if node.node_type == 'Import' -%}
        {{- print_import(node) -}}
      {% elif node.node_type == 'ImportFrom' %}
        {{- print_import_from(node) -}}
      {% elif node.node_type == 'FunctionDef' %}
        {{- print_function_def(node, indent) -}}
      {% else %}
        {{ print_form(node) }}
      {% endif -%}
    </div>
  {% endfor %}
{% endmacro %}

{% macro print_offset(indent_level) %}
{% for i in range(indent_level) %}&nbsp;{% endfor %}
{% endmacro %}

{% block body %}

{% include "color-config.html" %}

<div class="python-source">
  {{ print_block(ast, 0) }}
</div>

{% endblock %}
